    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
body {
    font-family: Arial, sans-serif;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    background-color: #252525;
}
    .header{
        background-color: white ;
        text-align:center;
    }
    
    .header i {
        margin: 0 50px;
        color: #9d0606;
    }
    
    .w3-bar {
        margin: 0;
        align-items: center;
        width: 100%;
    
        display: flex;
        justify-content: space-between;
    }
    
    .w3-bar .left {
        display: flex;
        align-items: center;
    }
    
    .w3-bar .center {
        display: block;
        flex-grow: 1;
        flex-wrap:wrap;
    }
    
    .w3-bar .w3-button {
        padding: 16px;
    }
    
    .w3-bar .w3-dropdown-hover:hover .w3-dropdown-content {
        display: block;
    }
    
    .w3-dropdown-hover .w3-button {
        padding: 16px;
    }
    
    .w3-dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
    }
    
    .w3-dropdown-content .w3-bar-item {
        padding: 12px 16px;
    }
    
    .w3-dropdown-content .w3-bar-item:hover {
        background-color: #555;
        color: white;
    }
    
    .w3-bar-item-spacing .w3-bar-item {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .logo {
        height: 40px;
        margin-right: 20px;
    }
form {
    background-color: #4654e1;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10;
    margin-right: 35px;
  }
  input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
  ::placeholder {
    color: #fff;
    opacity: 0.7; 
  }

@media screen and (max-width: 768px) {
    .w3-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .w3-bar .center {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .w3-bar .w3-button, .w3-bar .w3-bar-item {
        padding: 10px 15px;
        width: 100%;
        text-align: left;
    }

    .logo {
        margin-bottom: 10px;
    }
}
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }
  .image {
    position: relative; 
    top: 80px; 
}
.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading h1 {
    color: #fff;
    font-family: "Playwrite NG Modern", cursive;
    font-size: 46px;
    margin-bottom: 20px;
    position: relative;
}
.heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;
}
.heading p {
    font-size: 16px;
    color: aqua;
    margin-bottom: 30px;
    

}
.about-content h2 {
    color: #fff;
    
}
.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;

}
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.about-image {
    flex: 1;
    overflow: hidden;
}
.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    display: inline-block;
    transition: 0.5 ease;
    align-items: center;
}

footer {
    background-color: #121212;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    
}

.logo img {
    max-width: 150px;
}

.footer-description {
    margin: 20px 0;
    max-width: 600px;
    color: #FFFFF9;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    margin: 10px 0;
    display: inline;
    padding: 25px;
}

.navigation a {
    color: #fff;
    text-decoration: none;
}

.social-media {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.ion-icon {
    color: white;
  }

@media (max-width: 600px) {
    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-media {
        justify-content: center;
    }
}
